# generated data - re-created by the notebooks / run_daily.py
incoherence_monitor/data/
incoherence_monitor/logs/
*.db

# generated factor outputs (recreated by running notebooks 01-03)
**/signed_zscores.csv
**/factor.csv
**/benchmark.csv
**/events.csv
**/forecast_equal.csv
**/forecast_fitted.csv
**/chosen_method.json
**/fitted_weights.json

# python junk
__pycache__/
*.pyc
.ipynb_checkpoints/
